{% extends 'main.html' %}
{% load static %}


{% block page_content %}
  <div class="home-container">
    <a href="{{ project.live_hyperlink }}"><span class="title title-hover">{{ project.name }}:</span></a>
    <div class="projects-container">
      <img class="projects-img" src="{{ project.project_img.url }}">
      {% for image in project.snapshots %}
        <div class="projects-container">
        <h4>{{ image.title }}</h4>
        <br>
        <img class="projects-img" src="{{ image.image.url }}">
        <br>
        <h4>{{ image.description }}</h4>
        </div>
        </div>
      {% endfor %}
  </div>
{% endblock %}