{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/projects-list.css' %}">

  <title>Title</title>
</head>
<body>

<div class="nav">
  <img class="profile-background-img" src="{% static 'images/profile-background.jpg' %}">
  <div class="nav-links">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'projects-list' %}">Projects</a>
    <a href="#">Contact me</a>
  </div>
  <div class="profile-img">
    <img src="{% static 'images/profile-img.jpg' %}">
  </div>
  <div class="name">
    Kamen Stanchev
  </div>
</div>

<div class="page-content">
  {% block page_content %}

  {% endblock %}
</div>

<footer>
  <div>
    <a href="#">
      <img src="{% static 'icons/linkedin.png' %}">
    </a>
    <h3>Linkedin</h3>
  </div>
  <div>
    <a href="#">
      <img src="{% static 'icons/messenger.png' %}">
    </a>
    <h3>Messenger</h3>
  </div>
  <div>
    <a href="#">
      <img src="{% static 'icons/gmail.png' %}">
    </a>
    <h3>Gmail</h3>
  </div>
</footer>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>